* {
    box-sizing: border-box;
}

ul {
    
    padding: 0;
    list-style-type: none;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 6px 8px 8px 30px;
    font-size: 1.4em;

    &.checked {
        color: grey;
        opacity: 0.5;
        font-style: italic;
        text-decoration: line-through;
    }
}

.new_task_div{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 2em;
}

input {
    border: none;
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 10px;
    width: 45%;
    padding: .1em;
    font-size: 1.4em;
    font-family: 'Just Me Again Down Here', cursive;
    color: grey;

    &:focus {
        border: 3px solid white;
        background-color: white;
    }
}

.new_task_btn {
    background: rgba(173, 171, 171, 0.411);
    border: 1px solid rgba(255, 255, 255, 0.555);
    border-radius: 10px;
    padding: 0 .5em;
    color: white;
    text-shadow: 4px 5px rgb(136, 133, 133);
    text-align: center;
    font-size: 1.4em;
    cursor: pointer;
    margin-left: .60em;
    transition: all 330ms ease-in-out;
    transform: scale(1);

    &:hover {
        background-color: rgb(119, 118, 118);
        transform: scale(1.2);
    }
}